/*@import "../../node_modules/bootstrap/dist/css/bootstrap.css";*/

.btn.buttons {
  width: 150px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 20px;
}

#graph {
  border: 2px solid #111;
}

.layout {
  padding: 20px 30px;
}

.container-results {
  margin-top: 30px;
}

.panel-heading.color-blue {
  background: #337ab7;
  color: #FFFFFF;
}

.color-blue h3 {
  margin: 0;
}